@charset "UTF-8";
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1A237E, #ADCEFF); /* Dégradé bleu */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 90%; /* Augmenter la largeur du conteneur */
    max-width: 1200px; /* Limiter la largeur maximale */
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.subtitle {
    font-family: Figma Hand;
    font-size: 28px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;/* Centrer le texte */
}

.left {
    flex: 1;
    background-color: #0B2A5B;;
    display: flex;
    flex-direction: column; /* Changer en colonne pour que le texte soit en haut */
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.illustration {
    display: block;
    margin: 20px auto 0; /* Centrer l'image avec un peu d'espace en haut */
    max-width: 95%;
    height: auto;
}

.right {
    flex: 1;
    background-color: #adceff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right img {
    max-width: 200px;
    height: 200px;
    align-self: center;
}

form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-left: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #1a237e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0d184d;
}

.file-upload {
    margin-top: 20px;
}

/* Conteneur des toasts */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Style du toast */
.toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.toast {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    opacity: 0;
    animation: fadeInOut 6s forwards;
}

.error {
    background-color: #f44336;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
